<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="Florin Mavroian Portfolio" name="description" />
    <meta content="Florin Mavroian" name="author" />
    
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://portfolio.mavroian.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Florin Mavroian's Portfolio" />
    <meta
      property="og:description"
      content="Florin Mavroian Software Engineer Portfolio" />
    <meta
      property="og:image"
      content="https://florinsfirsts3bucket.s3.amazonaws.com/og.svg" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="portfolio.mavroian.com" />
    <meta property="twitter:url" content="https://portfolio.mavroian.com/" />
    <meta name="twitter:title" content="Florin Mavroian's Portfolio" />
    <meta
      name="twitter:description"
      content="Florin Mavroian Software Engineer Portfolio" />
    <meta
      name="twitter:image"
      content="https://florinsfirsts3bucket.s3.amazonaws.com/og.svg" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./static/assets/apple-icon-180x180.png" />
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>Florin Mavroian Portfolio terms and conditions</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet"/>
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/" title="">01 : Home</a></li>
              <li><a href="/works" title="">02 : Works</a></li>
              <li><a href="/about" title="">03 : About me</a></li>
              <li><a href="/contact" title="">04 : Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Privacy Policy Section -->
    <section class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-container-spacer text-center">
              <h1 class="h2">Privacy Policy</h1>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <p>Welcome to Florin Mavroian's Portfolio website. Your privacy is important to us. This Privacy Policy explains how we collect, use, and protect your personal information when you visit our website.</p>
              </div>
            </div>
            <div class="section-container-spacer text-center">
              <h3 class="h3">Information Collection and Use</h3>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <p>We do not collect any personally identifiable information from visitors of our website. We may collect non-personally identifiable information such as browser type, language preference, referring site, and the date and time of each visitor request.</p>
                <p>We use this information for internal purposes only, to analyze trends, administer the website, track users' movements around the site, and gather demographic information.</p>
              </div>
            </div>
            <div class="section-container-spacer text-center">
              <h3 class="h3">Cookies</h3>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <p>We do not use cookies on our website.</p>
              </div>
            </div>
            <div class="section-container-spacer text-center">
              <h3 class="h3">Third Party Links</h3>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <p>Our website may contain links to third party websites. These third party sites have separate and independent privacy policies. We have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
              </div>
            </div>
            <div class="section-container-spacer text-center">
              <h3 class="h3">Changes to This Privacy Policy</h3>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <p>We reserve the right to update or change our Privacy Policy at any time. Any changes will be posted on this page. Your continued use of our website after any changes to this Privacy Policy will constitute your acknowledgment of the modifications and your consent to abide and be bound by the updated Privacy Policy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- End Privacy Policy Section -->

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row footer">
          <ol class="col-xs-12">
            <p style="color: white"
              >© Portfolio 2021 | Website created by Florin Mavroian | Special
              Thanks to:
            </p>
            <ul>
              <li>
                <a style="color: white" href="https://zerotomastery.io/academy/"
                  >ZTM Academy
                </a>
              </li>
              <li
                ><a
                  style="color: white"
                  href="https://www.unsplash.com/"
                  title="Beautiful Free Images"
                  >Unsplash</a
                ></li
              >
            </ul>
            <hr style="color:white"></hr>
          </div>
          <div class="row">
            <ul>
              <li>
                <a style="color: white;" href="/terms-and-conditions">Terms and Conditions </a>
              </li>
              <li>
                <a style="color: white;" href="/privacy-policy">Privacy Policy</a>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener('DOMContentLoaded', function (event) {
        navActivePage()
      })
    </script>

    <script type="text/javascript" src="./static/main.70a66962.js"></script>
  </body>
</html>
