<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="Florin Mavroian Portfolio" name="description" />
    <meta content="Florin Mavroian" name="author" />

    <meta
      tiktok-developers-site-verification="IXsEXZXOSYvlrtwQH75A1VBRXGzbwv71" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://portfolio.mavroian.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Florin Mavroian's Portfolio" />
    <meta
      property="og:description"
      content="Florin Mavroian Software Engineer Portfolio" />
    <meta
      property="og:image"
      content="https://florinsfirsts3bucket.s3.amazonaws.com/og.svg" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="portfolio.mavroian.com" />
    <meta property="twitter:url" content="https://portfolio.mavroian.com/" />
    <meta name="twitter:title" content="Florin Mavroian's Portfolio" />
    <meta
      name="twitter:description"
      content="Florin Mavroian Software Engineer Portfolio" />
    <meta
      name="twitter:image"
      content="https://florinsfirsts3bucket.s3.amazonaws.com/og.svg" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./static/assets/apple-icon-180x180.png" />
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>Florin Mavroian Portfolio terms and conditions</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet"/>
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/" title="">01 : Home</a></li>
              <li><a href="/works" title="">02 : Works</a></li>
              <li><a href="/about" title="">03 : About me</a></li>
              <li><a href="/contact" title="">04 : Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Terms and Conditions Section -->
    <section class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-container-spacer text-center">
              <h1 class="h2">Terms and Conditions</h1>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <p
                  >Welcome to Florin Mavroian's Portfolio website. By accessing
                  and using this website, you agree to comply with the following
                  terms and conditions of use. If you disagree with any part of
                  these terms and conditions, please refrain from using our
                  website.</p
                >
              </div>
            </div>
            <div class="section-container-spacer text-center">
              <h3 class="h3">Use of Content</h3>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <p
                  >The content of this website, including text, images,
                  graphics, and other materials, is provided for general
                  informational purposes only. It is subject to change without
                  notice.</p
                >
                <p
                  >You may view, download, and print content from this website
                  for your personal and non-commercial use only. Reproduction of
                  any material on this website is strictly prohibited without
                  prior written consent.</p
                >
              </div>
            </div>
            <div class="section-container-spacer text-center">
              <h3 class="h3">No Warranty or Guarantee</h3>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <p
                  >While we strive to keep the information on this website up to
                  date and accurate, we make no representations or warranties of
                  any kind, express or implied, about the completeness,
                  accuracy, reliability, suitability, or availability of the
                  website or the information, products, services, or related
                  graphics contained on the website for any purpose.</p
                >
              </div>
            </div>
          </div>
          <div class="section-container-spacer text-center">
            <h3 class="h3"> Limitation of Liability</h3>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p
                >In no event will we be liable for any loss or damage, including
                without limitation, indirect or consequential loss or damage, or
                any loss or damage whatsoever arising from loss of data or
                profits arising out of, or in connection with, the use of this
                website.</p
              >
            </div>
          </div>
          <div class="section-container-spacer text-center">
            <h3 class="h3"> External Links </h3>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p
                >This website may include links to external websites for
                additional information or resources. These links are provided
                for your convenience to provide further information. We do not
                endorse the content of these websites and have no responsibility
                for the content of the linked websites.</p
              >
            </div>
          </div>
          <div class="section-container-spacer text-center">
            <h3 class="h3"> Intellectual Property </h3>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p
                >All intellectual property rights related to the content and
                materials on this website are owned by Florin Mavroian. You may
                not reproduce, distribute, or use any content from this website
                without prior written permission</p
              >
            </div>
          </div>
          <div class="section-container-spacer text-center">
            <h3 class="h3"> Modifications </h3>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p
                >We reserve the right to modify or update these terms and
                conditions at any time without prior notice. By continuing to
                use this website, you agree to be bound by the revised terms and
                conditions.
              </p>
            </div>
          </div>
          <div class="section-container-spacer text-center">
            <h3 class="h3"> Governing Law </h3>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p
                >These terms and conditions are governed by and construed in
                accordance with the laws of Romania, and any disputes relating
                to these terms and conditions will be subject to the exclusive
                jurisdiction of the courts of Romania.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Terms and Conditions Section -->

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row footer">
          <ol class="col-xs-12">
            <p style="color: white"
              >© Portfolio 2021 | Website created by Florin Mavroian | Special
              Thanks to:
            </p>
            <ul>
              <li>
                <a style="color: white" href="https://zerotomastery.io/academy/"
                  >ZTM Academy
                </a>
              </li>
              <li
                ><a
                  style="color: white"
                  href="https://www.unsplash.com/"
                  title="Beautiful Free Images"
                  >Unsplash</a
                ></li
              >
            </ul>
            <hr style="color:white"></hr>
          </div>
          <div class="row">
            <ul>
              <li>
                <a style="color: white;" href="/terms-and-conditions">Terms and Conditions </a>
              </li>
              <li>
                <a style="color: white;" href="/privacy-policy">Privacy Policy</a>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener('DOMContentLoaded', function (event) {
        navActivePage()
      })
    </script>

    <script type="text/javascript" src="./static/main.70a66962.js"></script>
  </body>
</html>
